.hero-content {
  margin-top: 4.5rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  a {
    text-decoration: none;
    text-decoration-color: black;
  }
  .hero-img img {
    width: 300px;
    height: auto;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.747));
    margin-bottom: 30px;
  }
  p:nth-child(-n + 2) {
    font-family: 'Architects Daughter';
    font-size: 23px;
  }
  p:nth-child(3) {
    margin: 20px 0;
  }
  .btn-hero {
    background-color: rgb(99, 183, 255);
    border-radius: 10px;
    padding: 7px;
    transition: all ease 0.35s;
    font-family: 'Major Mono Display';
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.295));
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      transform: translateY(-3px);
    }
  }
}

@media screen and (min-width: 768px) {
  .hero-img img {
    width: 400px !important;
  }
}
